
.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.addPost {
  width:50px;
  height:50px;
  background-color: var(--primary);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  
}
.addPost span {
  line-height: 45px;
  font-size: 40px;
  color: var(--light);
}

